
<p>
  <strong>Title:</strong>
  <%= @position.title %>
</p>

<p>
  <strong>Width:</strong>
  <%= @position.width %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
