<br>
<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h1>Edycja Artykułu</h1>
    </div>
  </div>
</div>

<%= render 'form', article: @article %>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <%= link_to 'Pokaż Artykuł', @article, class:"button success" %>
    </div>
  </div>
</div>
