<% content_for :title, " - pomoc." %>
<br>
<div class="row">
  <div class="large-12 columns">
    <div class="callout">
     <h1>Pomoc</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h3>Logowanie</h3>
      <p>Aby przejść do panelu logowania należy użyć odnośnika: Zaloguj, znajdującego się na dolnym pasku nawigacji.</p>
      <%= image_tag("https://res.cloudinary.com/traincms-herokuapp-com/image/upload/v1493643296/logowanie_tmpgj6.jpg") %>
    </div>
  </div>
</div>
