<% content_for :title, " - Tagi." %>

</br>
<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h1>Tagi.</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <table class="stack">
        <thead>
          <tr>
            <th>Nazwa</th>
            <th>Ilość artykułów</th>
          </tr>
        </thead>
        <tbody>
          <% @tags.order("created_at desc").each do |tag| %>
            <tr>
              <td><%= link_to tag.title, tag %></td>
              <td><%= TagRef.where(tag_id:tag.id).count %></td>
            </tr>
          <% end %>
        </tbody>
        </table>
      </table>
      <p><%= will_paginate @tags, renderer: FoundationPagination::Rails %></p>
    </div>
  </div>
</div>
