<br>
<div class="row">
  <div class="large-12 columns">
    <div class="callout" align="center">
    <h1>Nowy Tag</h1>
   </div>
  </div>
</div>

<%= render 'form', tag: @tag %>

<div class="row">
  <div class="large-12 columns">
    <div class="callout" align="center">
    <%= link_to 'Lista Tagów', tags_path, class:"button" %>
   </div>
  </div>
</div>
