<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h1>Edycja Kategorii</h1>
    </div>
  </div>
</div>

<%= render 'form', category: @category %>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <%= link_to 'Pokaż Kategorię', @category, class:"button" %>
    </div>
  </div>
</div>
